<template lang="html">
  <div>
    <router-view/>
  </div>
</template>

<script>
import store from '@/store';

export default {
  name: 'App',

  store,

  mounted() {
    this.$store.dispatch('loadTags');
  },
};
</script>

<style>
:root {
  --color-darkest: #121212;
  --color-dark: #454545;
  --color-azure: #007fff;
  --color-dark-grey: #232323;
  --color-grey: #eee;
  --color-white: #fffafa;
  --color-whitest: #fff;
  --color-white-smoke: #f5f5f5;

  --nav-height: 84px;

  --component-margin: 2rem;

  --tag-search-height: 3rem;

  --card-list-width: 350px;
  --card-list-height-sm: 300px;

  /* Small devices (landscape phones, 576px and up) */
  --screen-sm: 576px;
  /* Medium devices (tablets, 768px and up) */
  --screen-md: 768px;
  /* Large devices (desktops, 992px and up) */
  --screen-lg: 992px;
  /* Extra large devices (large desktops, 1200px and up) */
  --screen-xl: 1200px;
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1.8;
  color: var(--dark);
}
</style>
